[submodule "themes/fluency"]
	path = themes/fluency
	url = https://github.com/wayjam/hugo-theme-fluency.git
[submodule "themes/hugo_eiio"]
        path = themes/hugo_eiio
        url = https://github.com/leonhe/hugo_eiio.git



